*{
    margin:0;
}

*:focus{
    outline: none;
}

body{
    color:#000;
    width: 100%;
    overflow-x:hidden;
    font-family: "roboto";
    background-color: #F1F3F6;
}

img{
    max-width:100%;
}

ul,li{
    list-style: none;
}

a{
    color:#000;
    text-decoration: none;
    transition:0.5s;
    display: block;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    background-color: #2874F0;
}

header .logo img{
    width: 120px;
}

header .search_bar{
    width: 40%;
    height: 35px;
    position: relative;
    margin-left: 30px;
}

header .search_bar input{
    padding: 10px;
    border: none;
    height: 100%;
    width: 100%;
}

header .search_bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: -4px;
    font-size: 17px;
    color: #2874F0;
    cursor: pointer;
}

header .right_side{
    margin-left: 50px;
}

header .right_side ul{
    display: flex;
    align-items: center;
}

header .right_side ul li{
    margin: 0 15px;
}

header .right_side ul li a{
    font-weight: 600;
    color: #fff;
}

header .right_side ul li .btn{
    padding: 5px 25px;
    background-color: #fff;
    color: #2874F0;
}

header .right_side ul li a i{
    margin-right: 5px;
}

.top_product{
    background-color: #fff;
    padding: 5px 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.top_product ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.top_product ul li a img{
    width: 70px;
    /* margin-bottom: 15px; */
}

.top_product ul li a:hover h5{
    color: #2874F0;
}

.main_content{
    margin: 0 10px;
}

.owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav button span{
    font-size: 40px;
    color: #2874F0;
    background-color: #fff;
    display: inline-block;
    line-height: 1.5;
    padding: 0 10px;
}

.owl-nav button.owl-prev{
    left: 0;
}

.owl-nav button.owl-next{
    right: 0;
}

.poster{
    display: flex;
    margin-top: 10px;
    justify-content: space-between
}

.poster .post_img img{
    height: 260px;
    width: 800px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.poster .post_img:nth-child(2){
    padding: 0 10px;
}

.best_of{
    margin-top: 10px;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.best_of .title{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.best_of .title .btn{
    background-color: #2874F0;
    color: #fff;
    padding: 8px 30px;
}

.best_of .product{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.best_of .product img{
    margin-bottom: 20px;
    transition: 0.5s;
}

.best_of .product .product_inner{
    text-align: center;
}

.best_of .product .product_inner .detail h4{
    margin-bottom: 10px;
}


.best_of .product .product_inner .detail span{
    color: #388e3c;
}

.best_of .product .product_inner img:hover{
    transform: scale(1.1);
}

footer{
    padding: 30px 0;
    padding-bottom: 20px;
    background-color: #172337;
    color: #fff;
    margin-top: 10px;
}

footer .footer_inner ul{
    padding: 0;
} 

footer .footer_inner{
    display: flex;
    padding: 0 50px;
}

footer .footer_inner .footer_width{
    width: 20%;
}


footer .footer_inner .footer_width:last-child{
    width: 25%;
}

footer .footer_inner ul li a {
    color: #fff;
    margin: 10px 0;
    font-size: 14px;
}

footer .footer_inner ul li a:hover{
    text-decoration: underline;
}

footer .footer_inner h3{
    color: #878787;
    margin-bottom: 20px;
}

footer .footer_inner .footer_width address{
    font-style: normal;
    line-height: 1.4;
}

footer .copy_right{
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

@media(max-width:960px){
    .poster{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        
    }
    
    .poster .post_img img{
        height: 260px;
        width: 500px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
}